# add gitignore for this project
# Ignore node_modules directory
node_modules/
# Ignore build output directory
dist/
# Ignore pycache files
__pycache__/

venv/

# Add standard python ignores
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.env
*.venv
*.DS_Store
*.log
*.coverage
*.mypy_cache/
*.pytest_cache/
*.vscode/
*.idea/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.zip
*.tar.gz
.lvenv

.files-to-ignore/
commands.sh
copilot-command-output.txt
CVE_insert_errors
query_examples.sql
